# AWS Configuration
VITE_API_URL=https://phr2i6vklj.execute-api.us-east-1.amazonaws.com/dev
VITE_AWS_REGION=us-east-1

# Cognito Configuration
VITE_COGNITO_USER_POOL_ID=us-east-1_n8pWlYcSS
VITE_COGNITO_CLIENT_ID=7fotk98fhtt003lf9d1728d49g

# CloudFront Configuration
VITE_CLOUDFRONT_DISTRIBUTION_ID=E34Q2E7TZIYZAB

# S3 Configuration
VITE_FRONTEND_BUCKET=ctcm-dev-frontend-404875533723
VITE_DOCUMENT_BUCKET=ctcm-dev-documents-404875533723
