## [Start] Setting "weightUnit" to default value of "kg". **
$util.qr($context.args.input.put("weightUnit", $util.defaultIfNull($ctx.args.input.weightUnit, "kg")))
## [End] Setting "weightUnit" to default value of "kg". **
## [Start] Setting "dimensionUnit" to default value of "cm". **
$util.qr($context.args.input.put("dimensionUnit", $util.defaultIfNull($ctx.args.input.dimensionUnit, "cm")))
## [End] Setting "dimensionUnit" to default value of "cm". **
## [Start] Setting "quantity" to default value of "1". **
$util.qr($context.args.input.put("quantity", $util.defaultIfNull($ctx.args.input.quantity, 1)))
## [End] Setting "quantity" to default value of "1". **
{}