## [Start] Setting "currency" to default value of "USD". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "USD")))
## [End] Setting "currency" to default value of "USD". **
{}