## [Start] Parse owner field auth for Get. **
#if( $util.isList($ctx.source.customerCognitoSub) )
  #set( $ownerEntitiesList = [] )
  #set( $customerCognitoSub = $ctx.source.customerCognitoSub )
  #foreach( $entities in $customerCognitoSub )
    #set( $ownerEntities = $entities.split("::") )
    #set( $ownerEntitiesLastIdx = $ownerEntities.size() - 1 )
    #set( $ownerEntitiesLast = $ownerEntities[$ownerEntitiesLastIdx] )
    $util.qr($ownerEntitiesList.add($ownerEntitiesLast))
  #end
  $util.qr($ctx.source.customerCognitoSub.put($ownerEntitiesList))
  $util.toJson($ownerEntitiesList)
#else
  #set( $ownerEntities = $ctx.source.customerCognitoSub.split("::") )
  #set( $ownerEntitiesLastIdx = $ownerEntities.size() - 1 )
  #set( $ownerEntitiesLast = $ownerEntities[$ownerEntitiesLastIdx] )
  $util.qr($ctx.source.put("customerCognitoSub", $ownerEntitiesLast))
  $util.toJson($ctx.source.customerCognitoSub)
#end
## [End] Parse owner field auth for Get. **