## [Start] Parse owner field auth for Get. **
#if( $util.isList($ctx.source.cognitoSub) )
  #set( $ownerEntitiesList = [] )
  #set( $cognitoSub = $ctx.source.cognitoSub )
  #foreach( $entities in $cognitoSub )
    #set( $ownerEntities = $entities.split("::") )
    #set( $ownerEntitiesLastIdx = $ownerEntities.size() - 1 )
    #set( $ownerEntitiesLast = $ownerEntities[$ownerEntitiesLastIdx] )
    $util.qr($ownerEntitiesList.add($ownerEntitiesLast))
  #end
  $util.qr($ctx.source.cognitoSub.put($ownerEntitiesList))
  $util.toJson($ownerEntitiesList)
#else
  #set( $ownerEntities = $ctx.source.cognitoSub.split("::") )
  #set( $ownerEntitiesLastIdx = $ownerEntities.size() - 1 )
  #set( $ownerEntitiesLast = $ownerEntities[$ownerEntitiesLastIdx] )
  $util.qr($ctx.source.put("cognitoSub", $ownerEntitiesLast))
  $util.toJson($ctx.source.cognitoSub)
#end
## [End] Parse owner field auth for Get. **